

<% if current_user.list != nil %>
  <h1> You already have a list, would you like to give it a new titile? </h1>
  <%= current_user.list.title %>
    <br>
  <%= link_to "Edit Title", edit_list_path(current_user.list), class: 'btn btn-success' %>

<% else %>
  <h1>Create a new ToDo list</h1>
  <%= form_for @list do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.submit "Save" %>
  <% end %>

<% end %>
